{% load static %}

<form>

  <div class="row mb-3">
    <label for="Login" class="col-sm-3 col-control-label">Login</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="Login">
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>

  <div class="row mb-3">
    <label for="NickName" class="col-sm-3 col-control-label">NickName</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="NickName">
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-3 col-form-label">Upload avatar</label>
    <!-- <div class="col-sm-4">
      <input type="password" class="form-control" id="inputPassword3">
    </div> -->

    <div class="col-sm-5">
      <img class="user-avatar-settings" src="{% static "img/img.png" %}" alt="">
      <input type="file" class="form-control" id="inputGroupFile02">
        <!-- <label class="input-group-text" for="inputGroupFile02">Upload</label> -->
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
      <button type="button" class="form-button btn btn-dark">Save</button>
    </div>
  </div>

</form>
