{% extends "include/base.html" %}
{% load static %}

{% block topic %}
  <h2>New Questions</h2>
  <a href="{% url "hot" %}">Hot questions</a>
{% endblock topic %}

{% block content %}

{# {% for post in page_obj.object_list %}#}
{#   {% include 'include/question.html' %}#}
{# {% endfor %}#}

  {% for question in questions %}
    {% include "include/question.html" %}
  {% endfor %}


  {% include 'include/paginator.html' %}
{#  {% for question in questions %}#}
{#    {% include "include/question.html" %}#}
{#  {% endfor %}#}

{% endblock content %}
